:root{
     --background-main: #ffffff;
     --background-secondary: #000000;
     --background-tertiary:#f5f5f5;
     --color-text-title:#ffffff;
     --color-text:#222222;
     --color-hover:#8F0101;  
     --buttons:#B81515;      
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: inherit;
}